@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=Merienda:700');

body {
    background-color: #f6d9d5;  
    color: #000;
    font-size: 2rem;
    font-family: 'Text Me One', sans-serif;
    width: 100%;
}


h1 {
    font-size: 4rem;
}

.title {
    font-family: 'Merienda', cursive;
    font-size: 9rem;
    text-align: center;
    color: #f6d9d5;
}

.subtitle {
    font-size: 2rem;
}
.parallax-window1 {
    min-height: 700px;
}

.parallax-window2 {
    min-height: 300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 2% 12%;
}

.scrollable::-webkit-scrollbar {
    width:0!important;
}

.scrollable {
    font-size: 1rem; 
    height:300px; 
    overflow-y:scroll;
}

.biodata {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 8%;
}

.flexBox
{
    display:flex;
    flex-wrap:wrap;
}

@media all and ( min-width: 768px ) {
    .flexBox .a { order:2; }
    .flexBox .b { order:1; }
}

.row {
    padding: 40px 0px;
}

.rate {
/*    float: right;*/
}

.btn {
    color: #db172a; 
    font-size: 1.8rem;
    padding: 15px 30px;
}

.education{
    height: 200px;
    border: solid 0.1rem #f9fafc;
    border-radius: 2.5rem;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 0px 50px rgba(249,250,252, 0.8);
}

@media only screen and (max-width: 320px) {

   body { 
      font-size: 2rem; 
   }

}

.panel-body {
    color: #000;
    background-color: #f6d9d5;
}

.panel-body ul li {
    text-align: left;
}

.panel-title {
    text-align: center;
}

.panel-title a{
    font-size: 2rem;
    display: block;
/*    color: */
}

.panel-title a:hover {
    text-decoration: none
}

.panel-title a:active {
    text-decoration: none
}

a {
    text-decoration: none !important;
/*    width: 100% !important;*/
}

.panel-default>.panel-heading {
    color: #000;
/*    background-color: #295f48;*/
    background-color: #f7d0cb;
    border-color: #f9fafc;
}

.panel {
    box-shadow: 0px 0px 50px rgba(249,250,252, 0.8);
}

